/* styles.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.header {
  background-color: #fff;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}

.logo img {
  max-height: 100px;
  padding: 100px;
}

.nav {
  display: flex;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  color: #ffcc00;
}

.content {
  margin-top: 100px; /* Adjust according to header height */
  padding: 20px;
}

/* Hamburger menu for mobile */
@media (max-width: 768px) {
  .nav {
      display: none;
  }

  .header {
      padding: 10px 20px;
  }

  .menu-icon {
      display: block;
      position: absolute;
      top: 10px;
      right: 20px;
      cursor: pointer;
      z-index: 1;
  }

  .menu-icon .bar {
      width: 25px;
      height: 3px;
      background-color: #000;
      margin: 5px 0;
  }
}

#video-container {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 35%;
  z-index: -1;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease; /* Crossfade transition */
}

#video2 {
  opacity: 0; /* Initially hide the second video */
  transition: opacity 1s ease; /* Crossfade transition */
}
